#main-area{
    display: grid;
    grid-template: 80px 79px 455px 12px 114px / 1fr;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 1500px;
    height: 740px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0.3, 0.3, 0.3, 0.3); /* 오른쪽 아래로 그림자 */
}
#menu-box{
    display: grid;
    grid-template: 1fr / 1140px 130px 230px;
}
#table-area{
    justify-items: center;
}


#table{
    margin: 0;
    /* height: 100%; */
    /* height: 6.2%; */
    width: 1340px;
    border-radius: 5px;
    border-collapse: collapse;
    border-top : none;
    text-align: center;
}
#table tr{
    height: 28px;
}
.list-top{
    border-bottom: 1px solid #d3d3d3 ;
    height: 35px;
    font-size: 16px;
    background-color: rgba(23, 72, 128, 1);
    color: white;
}

.body{
    text-align: center;
}
.list-middle{
    border-bottom: 1px solid gray;
    font-size: 14px;
}


#approvalBtn{
    color: white;
    background-color: #174880;
    width: 117px;
    height: 36px;
    justify-self: center;
}


.pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.page-btn {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    padding: 5px 10px;
}

.page-btn.active {
    background-color: #174880;
    color: white;
}

.list-top{
    border-bottom: 1px solid #d3d3d3 ;
    height: 30px;
    font-size: 16px;
    background-color: rgba(23, 72, 128, 1);
    color: white;
}
.body{
    text-align: center;
}
.list-middle{
    border-bottom: 1px solid gray;
    font-size: 14px;
}

.page {
    text-align: center;
    margin-top: 20px;
}

.page a {
    display: inline-block; 
    text-decoration: none;
    color: rgba(23, 72, 128, 1);
    margin: 0 10px; /* 링크 간 간격 조정 */
    font-size: 16px;
    font-weight: bold;
}

td{
    font-weight: 300;
}

.bottom-line{
    width: 1340px;
    height: 8px;
    background-color: rgba(23, 72, 128, 1);
   margin: auto;
   margin-bottom: 10px;
}
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    padding: 5px;
}

.search-box input[type="text"] {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 12px;
    flex-grow: 1;
}

.search-box i {
    font-size: 16px;
    color: #666;
    margin-left: 5px;
}
#title-area{
    display: grid;
    grid-template: 1fr / 29px 1442px 29px;
}
#title-area > div:nth-child(2){
    display: flex;
    align-items: center;
    border-bottom: 2px solid #174880;
}
#title-area > div:nth-child(2) > h2 {
    color:  rgba(23, 72, 128, 1);  
    margin-bottom: 0px;
}
#btn-area{
    display: flex;
    align-items: center;
}

.submit-btn {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background: #0056b3;
}
#filterDiv{
    display: flex;
    align-items: center;
}
#filterDiv > select {
    width: 108px;
    height: 34px;
    border: 1px solid black;
    text-align: center; 
    text-align-last: center; 
    
}
#approval-status > option > {
    text-align: center; 
}

#leftPageBtn{
    color: #174880
}
#rightPageBtn{
    color: #174880
}
form {
   
    display: contents; /* 자식 요소의 레이아웃을 그대로 유지 */
}

#table tbody tr:hover{
    background-color: lightgray;
    cursor: pointer;
}

