main {
    grid-area: main;
    background-color: #d1dce8; /* 연한 회색 */
    padding: 0px;
}

.main-content {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center center;

    width: 1500px;
    height: 740px;
    margin-top: 0px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;

    background-color: transparent;
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 10px rgba(0.3, 0.3, 0.3, 0.3); 오른쪽 아래로 그림자 */
}


.list-box {
    display: grid;

    grid-template-rows: 1fr 4.1fr 0.7fr;

    /* width: 95%;
    height: 95%; */

    width: 475px;
    height: 350px;

    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0.3, 0.3, 0.3, 0.3); /* 오른쪽 아래로 그림자 */
    background-color: white;
}

.title-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* padding-top: 5px; */
    padding-left: 25px;
    padding-right: 25px;

    color: #174880;
}
.title-area h3 {
    margin: 0;
    vertical-align: middle;
}

.addBtn {
    width: 37px;
    height: 37px;

    border-radius: 50%;
    background-color: #174880;
    color: white;

    font-size: 25px;
    font-weight: 900;

    text-align: center;
}

.addBtn:hover {
    cursor: pointer;
}

.list-area {
    margin-left: 30px;
    margin-right: 30px;
}


.table-line {
    display: flex;
    width: 100%;
}

.table-header {
    height: 37px;

    background-color: #174880;
    color: white;

    text-align: center;
    align-content: center;

    font-weight: 800;
}

.table-body {
    height: 210px;
    overflow: auto;
}
.table-content {
    height: 35px;
    text-align: center;
    align-content: center;
    border-bottom: 1px solid #d1dce8;
}


.table-line > :nth-child(1){
    width: 40%;
}
.table-line > :nth-child(2){

    width: 30%;
}
.table-line > :nth-child(3){

    width: 30%;
}


.bottom-area {
    margin-left: 30px;
    margin-right: 30px;

    height: 10px;

    background-color: #174880;
}

.table-body::-webkit-scrollbar {
    display: none;
}

.btn-primary.editItem, .btn-secondary.deleteItem {
    --bs-btn-padding-y: 0rem;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-font-size: 1rem;
}
