<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.wegrid.crm.mapper.CrmMapper">

    <select id="getClientVoList">
        SELECT
        C.NO
        , C.RANK_CODE
        , C.STATUS_NO
        , C.NAME
        , C.POST_ADDRESS
        , C.ROAD_ADDRESS
        , C.DETAIL_ADDRESS
        , C.PRESIDENT_NAME
        , C.PRESIDENT_PHONE
        , C.PRESIDENT_EMAIL
        , C.START_DATE
        , P.MANAGER_NAME
        , P.MANAGER_PHONE
        , CR.NAME AS RANK_NAME
        , CS.NAME AS STATUS_NAME
        FROM
        CLIENT C
        LEFT JOIN CLIENT_RANK CR ON ( C.RANK_CODE = CR.NO )
        LEFT JOIN CLIENT_STATUS CS ON ( C.STATUS_NO = CS.NO )
        LEFT JOIN PROJECT P ON ( C.NO = P.CLIENT_NO )
        <where>
            <if test="searchType == 'integration'">
                ( C.NAME LIKE '%${searchValue}%'
                OR P.MANAGER_NAME LIKE '%${searchValue}%'
                OR P.MANAGER_PHONE LIKE '%${searchValue}%' )
            </if>
            <if test="searchType == 'client'">
                C.NAME LIKE '%${searchValue}%'
            </if>
            <if test="searchType == 'managerName'">
                P.MANAGER_NAME LIKE '%${searchValue}%'
            </if>
            <if test="searchType == 'managerPhone'">
                P.MANAGER_PHONE LIKE '%${searchValue}%'
            </if>

            <if test="(statusNo == '' or statusNo == null) and (rankCode != '' and rankCode != null)">
                AND C.RANK_CODE = #{rankCode}
            </if>
            <if test="(statusNo != '' and statusNo != null) and (rankCode == '' or rankCode == null)">
                AND C.STATUS_NO = #{statusNo}
            </if>
            <if test="statusNo != null and statusNo != '' and rankCode != null and rankCode != ''">
                AND C.STATUS_NO = #{statusNo}
                AND C.RANK_CODE = #{rankCode}
            </if>
        </where>
        ORDER BY C.NO DESC
        OFFSET #{pvo.offset} ROWS FETCH NEXT #{pvo.boardLimit} ROWS ONLY
    </select>


    <select id="getFilteredClientCnt">
        SELECT COUNT(*)
        FROM CLIENT C
        <where>
            <if test="(statusNo == '' or statusNo == null) and (rankCode != '' and rankCode != null)">
                AND C.RANK_CODE = #{rankCode}
            </if>
            <if test="(statusNo != '' and statusNo != null) and (rankCode == '' or rankCode == null)">
                AND C.STATUS_NO = #{statusNo}
            </if>
            <if test="statusNo != null and statusNo != '' and rankCode != null and rankCode != ''">
                AND C.STATUS_NO = #{statusNo}
                AND C.RANK_CODE = #{rankCode}
            </if>
        </where>
    </select>

    <select id="getClientCnt">
        SELECT COUNT(*)
        FROM
        CLIENT C
        LEFT JOIN CLIENT_RANK CR ON ( C.RANK_CODE = CR.NO )
        LEFT JOIN CLIENT_STATUS CS ON ( C.STATUS_NO = CS.NO )
        LEFT JOIN PROJECT P ON ( C.NO = P.CLIENT_NO )
        <where>
            <if test="statusNo == '' and statusNo == null and rankCode != '' and rankCode != null">
                AND C.RANK_CODE = #{rankCode}
            </if>
            <if test="statusNo != '' and statusNo != null and rankCode == '' and rankCode == null">
                AND C.STATUS_NO = #{statusNo}
            </if>
            <if test="statusNo != null and statusNo != '' and rankCode != null and rankCode != ''">
                AND C.STATUS_NO = #{statusNo}
                AND C.RANK_CODE = #{rankCode}
            </if>
            <if test="searchType == 'integration'">
                AND ( C.NAME LIKE '%${searchValue}%'
                OR P.MANAGER_NAME LIKE '%${searchValue}%'
                OR P.MANAGER_PHONE LIKE '%${searchValue}%' )
            </if>
            <if test="searchType == 'client'">
                C.NAME LIKE '%${searchValue}%'
            </if>
            <if test="searchType == 'managerName'">
                P.MANAGER_NAME LIKE '%${searchValue}%'
            </if>
            <if test="searchType == 'managerPhone'">
                P.MANAGER_PHONE LIKE '%${searchValue}%'
            </if>
        </where>
    </select>


</mapper>